#
# Copyright (C) 2013 Synopsys, Inc. (www.synopsys.com)
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.
#

config ARC_PLAT_XPLORER
	bool "Synopsys ARC Xplorer System"
	select COMMON_CLK
	select DW_APB_ICTL
	help
	  Support for the ARC Xplorer System.

	  The ARC Xplorer System consists of a mainboard with peripherals,
	  on which several daughter cards can be placed. The daughter cards
	  typically contain a CPU and memory.

if ARC_PLAT_XPLORER

config XPLORER_CPUTILE_770
	select DW_APB_GPIO_INTC
	bool "ARC Xplorer CPU Tile with 770D/EM6/AS221"
	help
	  This adds support for the 770D/EM6/AS221 CPU Tile. Only the ARC
	  770D is supported in Linux.

	  The ARC Xplorer System 770D/EM6/AS221 consists of an ARC Xplorer
	  System mainboard with this daughtercard. Please use the
	  xplorer_system_770.dts device tree with this configuration.

endif
