#
# EZchip network device configuration
#

config NET_OSCI_LAN
	tristate "OSCI LAN support"
	depends on ARC
	default n
	---help---
	  Simple LAN device without multicast support for use with the
	  nSIM OSCI System C model.
